.displayBox {
    height: 275px;
    width: auto;
}

button {
    margin: 2px;
    cursor: pointer;
    border-radius: 16px;
    background-color:rgba(66, 1, 1, 0.548);
    color: rgba(222, 184, 135, 0.685);
}

h3 {
    text-align: center;
}
/* Add an 'active' class to style the background of the 'Add to Cargo Hold' buttons. */
.active {
    background: #353C44;
}


.nearMaxMass {
    color:rgba(255, 0, 0, 0.363);
    font-style: italic;
    font-weight: bold;
}


/* Add the 'nearMaxMass' class style here: */
