.displayBox {
    height: 275px;
    width: auto;
}

button {
    margin: 2px;
    cursor: pointer;
    border-radius: 16px;
    background-color: #353C44;
    color: rgba(222, 184, 135, 0.685);
}

h3 {
    text-align: center;
}

/* Add an 'active' class to style the background of the 'Add to Cargo Hold' buttons. */


/* Add the 'nearMaxMass' class style here: */
